body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 90vh;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    height: 10vh;
    background-color: #DAA520;
    color: #fff;
}

.header h2 {
    margin-left: 1rem;
}

.calculator-wrapper {
    border: 2px solid #000;
    border-radius: 3px;
    height: 70%;
    width: 40%;
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -webkit-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.51);
    box-shadow: -1px 0px 5px 1px rgba(0,0,0,0.51);
}

.display-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    grid-column-start: span 4;
}

.display-wrapper p {
    font-size: 1.4rem;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-wrapper-clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

.btn-wrapper-operator .btn {
    background-color: #DAA520;
}

.btn-wrapper-clear .btn {
    background-color: #A9A9A9;
}

.btn-wrapper-zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

.btn-wrapper-equals {
    grid-row-start: 7;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
}

.btn {
    font-size: 2rem;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    border: 2px solid #000;
    background-color: #696969;
}
